<%- include("header"); -%>

<h2>About Page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita ea aliquam ratione sequi corporis laudantium repellendus quidem voluptatibus itaque veniam quasi provident, blanditiis dolorum dolore modi labore nulla recusandae libero.</p>

<%- include("footer"); -%>